body {
  color:#F3C912;
  font-family: 'Overpass Mono', monospace;
  font-weight:100;
  background-color: #262626;
  padding:0px;
  margin:0px;
}
.container {
  max-width: 1200px;
  margin:0 auto;
}
header {
  height:400px;
  width:100%;
  background-color: #262626;
  margin:0;
  padding:140px;
  color:#F36E54;
}
footer {
  background-color: #F2ECDC;
  min-height:100px;
  color:#262626;
  text-align: center;
  padding-top:80px;
  padding-bottom:80px;
}
.clear {
  clear:both;
}
span {
  color:#fff;
}
h1 {
  width:40%;
  float:left;
  font-size:46px;
  font-weight: 700;
  line-height: 48px;
  /** font-family: 'Work Sans', sans-serif;**/
  font-family: 'Poppins', sans-serif;
}
h2 {
  font-weight:100;
  font-family: 'Source Code Pro', monospace;
}
p {
  width:60%;
  float:left;
  margin-bottom: 10px;
}
a {
  border-bottom:1px dotted;
  padding-bottom: 10px;
  text-decoration: none;
  color: #F36E54;
}
ul {
  float:left;
  padding-left:0px;
  list-style-type: none;
}
li {

}
.ok {
  height:300px;
  width:300px;
  display: flex;
  justify-content: center;
}

/** Grid **/
#grid-container {
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    position: relative;
}
.grid-div:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.content {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.grid-div {
	position: relative;
}

#div1 {
	background-color:#F36E54;
}
#div2 {
	background-color: #2D87AA;
}
#div3 {
	background-color: #2D87AA;
}
#div4 {
	background-color: #FFF;
}
#div5 {
	background-color:#2D87AA;
}
#div6 {
	background-color:#2D87AA;
}
#div7 {
	background-color: #F36E54;
}
#div8 {
	background-color:#2D87AA;
}
