body {
  font-size:18px;
  font-family: 'Work Sans', sans-serif;
}
h1 {
  margin-top:0;
  font-size:3.052rem;
  font-weight:400;
}
h3 {
  font-weight:400;
  font-size: 1.953rem;
  line-height:2.4rem;
}
h4 {
  font-weight:400;
  font-size: 1.25rem;
  margin-top:0;
  margin-bottom:2rem;
}

.larger {

}
p {
  line-height:30px;
  font-weight:400;
}
a {
  border-bottom: 1px dotted;
  text-decoration: none;
  color:inherit;
}
.intro-text {
  font-weight:600;
}

ul {
  padding-left:0;
  list-style-position: inside;
  margin-bottom:2em;
}
li {
  list-style-type: square;
}
