body {
  font-size:18px;
  font-family: 'Work Sans Light', sans-serif;
}


@font-face {
    font-family: 'monument_extendedbold';
    src: url('fonts/monumentextended-bold.woff2') format('woff2'),
         url('fonts/monumentextended-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



h1 {
  margin-top:0;
  font-size:3.052em;
  font-family: 'Work Sans', sans-serif;
  font-weight:500;
  letter-spacing: -0.1rem;
}
h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight:500;
  font-size: 1.953em;
}

.larger {

}
p {
  line-height:32px;
}
a {
  border-bottom: 1px dotted;
  text-decoration: none;
  color:inherit;
}
