@import "modules/colours.scss";
@import "partials/typography.scss";

body {
  background-color: $white;
  color: $white;
  padding:0;
  margin:0;
}
.white {
  color: $black;
}
.header-frame {
  margin:0 auto;
  padding-top:2em;
  background-color: $black;
}
section{
  max-width:1400px;
  margin:0 auto;
  padding-top:3em;
  nav a {
    color: $white;
    margin-right:1em
  }
}
nav {
  margin-bottom:4em;
}

/** Repeatable elements **/
.left {
  float:left;
}
.right {
  float:right;
}
.clear {
  clear: both;
}
.max-width {
  max-width: 1400px;
  margin:0 auto;
}

/** Styling **/
nav {
  a {
    color: $white;
    font-size:1.25em ;
    font-weight:500;
  }
  padding-bottom:2em;
}
.intro {
  width:60%;
  margin:0 auto;
  float:left;
  margin-bottom: 3em;
  p {
    padding-bottom:2em;
  }
}
.logo {
  width:40%;
  float:right;
  margin-bottom:3em;
  img {
    max-width: 110px;
    float:right;
  }
  img:hover {
    transform: rotate(10deg);
    transition-timing-function: cubic-bezier(0,0,1,1);
  }
}


.learning {
  border-bottom: 0.2em solid #5C5C5C;
  border-right: 0.2em solid #5C5C5C;
  width:50%;
  margin-bottom: 4rem;
  padding-bottom:1em;
  margin-top:2em;
  h3, p {
    margin-bottom: 0.3em;
    padding-bottom: 0;
    margin-top: 0;
  }

}
/** Case study page **/

.case-study-content {
  width:60%;
  float:left;
  margin-top:4em;
}
.case-study-info {
  width:calc(30% - 6em);
  float:right;
  background-color: $light-grey;
  padding:3em;
  margin-top:4em;
  ul {
    li {
      padding-bottom:0.2em;
      margin-bottom:0.4em;
      a {
        list-style-type: none;
        margin-bottom:0.2em;
      }
    }
  }
}
.case-header {
  width:100%;
  padding-top:4em;
  margin-bottom: 4em;
  background-color: $black;
  img {
    text-align:center;
  }
}

footer {
  margin-top:6em;
  padding-top: 4em;
  padding-bottom:4em;
  background-color: $black;
  color: $white;
}

/** Flexbox **/

.container {
  flex-wrap: wrap;
  flex-direction: row;
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  padding:2em;
  background-color:$black;
  margin-right:1em;
  margin-bottom:1em;
  p {
    margin-bottom: 0.5em;
  }
  h3 {
    margin-top: 0em;
  }
}
.item:hover {
    background-color: $white;
    color:$black;
}
.item:nth-of-type(2n + 2){
  margin-right: 0;
}


/** Responsive **/
@media screen and (max-width: 800px) {
  .item {
    width:100%;
  }
  section {
    margin-left:1em;
    margin-right:1em;
    .intro {
      width:calc(100% - 2em);

    }
  }
  .learning {
    width:calc(100% - 2em);
  }

  h1 {
    font-size: 1.953em;
    margin:0;
  }

  .logo {
    float:left;
    margin-bottom:2em;
    margin-left:0em;
    img {
      float:left;
    }
  }
}
