@import "modules/colours.scss";
@import "partials/typography.scss";

body {
  background-color: $white;
  color: $white;
  padding:0;
  margin:0;
}
.white {
  color: $black;
}
.header-frame {
  margin:0 auto;
  padding-top:2rem;
  background-color: $black;
}
section{
  max-width:1400px;
  margin:0 auto;
  padding-top:3rem;
  nav a {
    color: $white;
  }
}
nav {
  margin-bottom:4rem;
}

/** Repeatable elements **/
.left {
  float:left;
}
.right {
  float:right;
}
.clear {
  clear: both;
}
.max-width {
  max-width: 1400px;
  margin:0 auto;
}

/** Styling **/
nav {
  a {
    color: $white;
    font-size:1.25em ;
    font-weight:500;
  }
  padding-bottom:2rem;
}
.intro {
  width:60%;
  margin:0 auto;
  float:left;
  p {
    padding-bottom:6rem;
  }
}
.logo {
  width:40%;
  float:right;
  img {
    max-width: 110px;
    float:right;
  }
  img:hover {
    transform: rotate(10deg);
    transition-timing-function: ease-in-out;
  }
}


/** Case study page **/

.case-study-content {
  width:50%;
  float:left;
}
.case-study-info {
  width:calc(40% - 6rem);
  float:right;
  background-color: $light-grey;
  padding:3rem;
  ul {
    padding-left:0;
    list-style-position: inside;
    li {
      padding-bottom:0.2rem;
    }
  }
}
.case-header {
  width:100%;
  padding-top:4rem;
  margin-bottom: 4rem;
  background-color: $black;
  img {
    text-align:center;
  }
}



footer {
  margin-top:6rem;
  padding-top: 4rem;
  padding-bottom:4rem;
  background-color: $black;
  color: $white;
}


/** Flexbox **/

@media screen and (max-width: 640px) {

}


.container {
  flex-wrap: wrap;
  flex-direction: row;
  background-color: pink;
  display:flex;
}

.item {
  width: calc(50% - 5rem);
  padding:2rem;
  background-color:$black;
  margin-right:1rem;
  margin-bottom:1rem;
  p {
    margin-bottom: 0.5rem;
  }
  h3 {
    margin-top: 0rem;
  }
}
.item:hover {
    background-color: $white;
    color:$black;
}


/** Responsive **/
@media screen and (max-width: 1100px) {
  .intro {
    float:left;
    width:calc(100% - 4rem);
    padding:1rem;
  }
  h1 {
    font-size: 1.953em;
    margin:0;
  }
  .item {
    width:100%;
    margin:1rem;
  }
  .logo {
    float:left;
    margin-bottom:2rem;
    margin-left:1rem;
    img {
      float:left;
    }
  }
}
