@import "modules/colours.scss";
@import "partials/typography.scss";

body {
  background-color: $white;
  color: $white;
  padding:0;
  margin:0;
}
header {

}
.header-frame {
  margin:0 auto;
  padding-top:3rem;
  background-color: $background-color;
}
section{
  max-width:1400px;
  margin:0 auto;
  padding-top:3rem;
}
nav {
  max-width:1400px;
  margin:0 auto;
  margin-bottom:5rem;
}

/** Repeatable elements **/
.left {
  float:left;
}
.right {
  float:right;
}
.clear {
  clear: both;
}
.box-pad {
  padding:2rem 4rem 2rem 4rem;
}

@font-face {
    font-family: 'monument_extendedbold';
    src: url('fonts/monumentextended-bold.woff2') format('woff2'),
         url('fonts/monumentextended-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/** Styling **/

.intro {
  width:60%;
  margin:0 auto;
  float:left;
}
.logo {
  width:40%;
  float:right;
  img {
    max-width: 140px;
    float:right;
  }
}
.switcher {
  background-color:orange;
  margin-bottom:3rem;
}
.switch {
  width:calc(50% - 8rem);
  margin-top:5rem;
  margin-bottom:3rem;
}
.selected {
  background-color:$white;
  color: $background-color;
}

/** Portfoilio index **/
.portfolio-element {
  width:calc(50% - 8rem);
  margin-top:3rem;
  background-color:red;
  float:left;
}
.portfolio-element:nth-child(odd) {
  float:right;
  background-color: orange;
}
